* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --green: #3be798;
  --violet: #7f6eb2;
  --color-item: #2b2b2b;
}
body {
  background-color: beige;
  font-family: system-ui;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1;
  justify-content: center;
}

div[class^="card"] .img img {
  height: 200px;
}
div[class^="card"] .img::before {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  content: "";
  transform: translate(-50%, -50%);
  background-color: #e7e7e7;
  top: 50%;
}
div[class^="card"] .img::after {
  position: absolute;
  bottom: 0px;
  width: 70%;
  height: 40px;
  background-color: #be1a1a;
  content: "";
  right: 30px;
  z-index: -1;

  border-radius: 50%;
  opacity: 0.2;
  filter: blur(10px);
  transition: 0.5s;
}
